{##
 # Packaging supplies page
 #}

<div class="packaging-supplies-wrapper">
  <img class="packaging-image" src="{{ this.layout.getResourceWebPath('packaging_supplies/images/X-Cart-Supplies-Store-v1-1.png') }}" alt="Packaging supplies">
  <div class="solo__body">
    <p>Packaging is nothing but a plain carton box, right? It’s the product that really matters, after all.</p>
    <p>If that’s what you are thinking as a business owner, you might be setting yourself up to fail without even realizing it.</p>
    <p>You should know that without quality packaging you will:</p>
    <ul class="custom-disc">
      <li><strong>Lose your products on the way to your customer’s porch</strong>. If the parcel is poorly wrapped, it may come open and even split apart.</li>
      <li><strong>Crack, smash, or scuff them during transportation.</strong> Your package should be robust and secure to protect your goods through any mishaps.</li>
      <li><strong>Deliver rotten or withered stuff</strong> if you sell food or plants, for example.</li>
      <li><strong>Spend much money on refunds</strong> if a buyer decides to return the racked item.</li>
      <li><strong>Be ultimately forgotten</strong>, if you do not use your package as a marketing tool.</li>
    </ul>
    <p>To help you avoid these risks we’ve partnered with a leading US manufacturer of shipping supplies.</p>
    <p>Now, apart from offering an eCommerce software solution, we are going to help you produce the perfect packaging for your products — at a discounted price and with free shipping.</p>
    <p>Hit the button below to check X-Cart supplies store right now.</p>
    <div class="button-container">
      {{ widget('XLite\\View\\Button\\Link', location=this.getButtonUrl(), label=t('Browse Packaging Supplies'),
        style='regular-main-button', blank=true) }}
    </div>
  </div>
</div>